<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
	
	<!-- 1대 1문의 넣기 -->
	<insert id="setQna" parameterType="qna">
		INSERT INTO QNA(NO ,ID ,TITLE ,CONTENT ,EMAIL, CATEGORY ,REGDATE, STATUS)
		VALUES ((SELECT NVL(MAX(NO),0)+1 FROM QNA), #{id}, #{title}, #{content}, #{email}, #{category}, SYSDATE, '미답변')
	</insert>
	
	<select id="selecQna" parameterType="String" resultType="qna">
		SELECT * FROM QNA WHERE ID = #{id}
	</select>
</mapper>




